body{
    background-image: url(../images/background-blur-clean-clear-531880.jpg);
}

#brand {
    color: lightskyblue;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 30px;
}

#navbar{
    font-family: 'Oleo Script', cursive;
}

.nav-btn{
    font-size: 18px;
    color: white;
}

#declare{
    font-family: 'Oleo Script Swash Caps', cursive;

}

#who {
    font-family: 'Oleo Script', cursive;
    font-size: 24px;
}

#jumbo{
    background-color: rgb(191, 243, 247);

}

#about{
    color: rgb(3, 3, 3);
    font-size: 24px;
    text-shadow: rgb(159, 159, 163);
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
}

.media{
    display: inline-block;
    display: center;
}

.portIMG{
    padding: 50px;
}


