.mainnav {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
}

#me {
    float: left;
    width: 400px;
    height: 90px;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    background: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif; ;
}

.heading {
    padding-top: 180px;
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
}
